# Virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
*.egg

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
coverage.xml
htmlcov/

# Jupyter / IPython
.ipynb_checkpoints/

# Cache / logs
.cache/
*.log

# Environment variables
.env
.env.*

# IDE/editor
.idea/
.vscode/
*.code-workspace

# macOS
.DS_Store

# PyInstaller
*.manifest
*.spec

# Mypy / typing
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/


